workflow/Not_Alone_n8n_Workflow.json
{
  "name": "not_alone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fe67bc5b-5eba-4487-a1ac-ecd76daac561",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "iQrdSNstLevMvmcp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "f3011d53-f650-4d69-b85c-530143cb2bb3",
      "name": "Get a message",
      "webhookId": "7868359c-23db-46b8-ad6a-836f25dc02ab",
      "credentials": {
        "gmailOAuth2": {
          "id": "iQrdSNstLevMvmcp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "f9c55218-4e9a-4136-a806-be7aea520737",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "61446ff1-dd97-48b7-a072-12c20d167885",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CDXiptDntdC5ELOn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get a message').item.json.From }}",
        "subject": "={{ $('Get a message').item.json.Subject }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "d7ff21fe-afe4-4f92-bc03-c920e0197655",
      "name": "Send a message",
      "webhookId": "b88e420f-ea31-4f76-96f5-cba0b42b996a",
      "credentials": {
        "gmailOAuth2": {
          "id": "iQrdSNstLevMvmcp",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bce7a6b4-5e4f-4cc7-ac04-ee4441a40e54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0b0a2ffcd830c064361d83e384f01d45e06521661345777e8fdf80dbde12122"
  },
  "id": "h42V2jSWe2ucIDQn-YOjY",
  "tags": []
}
